section
    h2 Invest
    span.spinner(ng-show='invest.loading > 0')
        i.icon-refresh.icon-spin
    span.spinner(ng-show='invest.error', title='{{invest.errorStatus}}')
        i.icon-bell-alt
    span.help(ng-show='settings.show',ng-mouseover='settings.helptopic.invest=true',ng-mouseout='settings.helptopic.invest=false') ?
    .settings(ng-show='settings.show')
        form(ng-submit='addSecurity()')
            input(type='text', ng-model='invest.Ticker', placeholder='Symbol (Havelock Invest)')
            input(type='text', ng-model='invest.Quantity', placeholder='Quantity')
            input.btn-primary(type='submit', value='add')
    div
        table#rt1.rt.cf(ng-show='invest.Securities')
            thead.cf
                tr
                    th Ticker
                    th.right(title='latest bid') Bid
                    th.right(title='quantity hold') Qty
                    th.right(title='total btc') BTC
                    th.right(title='total usd') USD
                    th.right(title='change to 24h average') 24h
                    th.right(title='change to 7d average') 7d
                    th.right(title='change to 30d average') 30d

            tbody.transform
                tr.data(ng-repeat='security in invest.Securities')
                    td.ticker
                        a(target='_blank', title='view on havelock', href='https://www.havelockinvestments.com/fund.php?symbol={{security.Ticker}}', ng-show='security.Ticker') {{security.Ticker}}

                    td.right {{invest.Tickers[security.Ticker].last| numbere}}
                    td.right {{security.Quantity}}
                    td.right {{invest.Tickers[security.Ticker].last*security.Quantity| numbere}}
                    td.right
                        | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(invest.Tickers[security.Ticker].last*security.Quantity)| numbere}}
                    td.right(ng-class="{negative: getTickerChange(invest.Tickers[security.Ticker], '1d') < 0, positive: getTickerChange(invest.Tickers[security.Ticker], '1d') > 0}")
                        span(title!="Min: {{invest.Tickers[security.Ticker]['1d'].min | numbere }}&#xD;Avg: {{invest.Tickers[security.Ticker]['1d'].vwap | numbere }}&#xD;Max: {{invest.Tickers[security.Ticker]['1d'].max | numbere }}&#xD;Vol: {{invest.Tickers[security.Ticker]['1d'].vol | numbere }}&#xD;BTC: {{invest.Tickers[security.Ticker]['1d'].btc | numbere }}")
                            {{getTickerChange(invest.Tickers[security.Ticker], '1d') | number:1}}%
                    td.right(ng-class="{negative: getTickerChange(invest.Tickers[security.Ticker], '7d') < 0, positive: getTickerChange(invest.Tickers[security.Ticker], '7d') > 0}")
                        span(title!="Min: {{invest.Tickers[security.Ticker]['7d'].min | numbere }}&#xD;Avg: {{invest.Tickers[security.Ticker]['7d'].vwap | numbere }}&#xD;Max: {{invest.Tickers[security.Ticker]['7d'].max | numbere }}&#xD;Vol: {{invest.Tickers[security.Ticker]['7d'].vol | numbere }} ({{invest.Tickers[security.Ticker]['7d'].vol/7 | numbere }})&#xD;BTC: {{invest.Tickers[security.Ticker]['7d'].btc | numbere }} ({{invest.Tickers[security.Ticker]['7d'].btc/7 | numbere }})")
                            {{getTickerChange(invest.Tickers[security.Ticker], '7d') | number:1}}%
                    td.right(ng-class="{negative: getTickerChange(invest.Tickers[security.Ticker], '30d') < 0, positive: getTickerChange(invest.Tickers[security.Ticker], '30d') > 0}")
                        span(title!="Min: {{invest.Tickers[security.Ticker]['30d'].min | numbere }}&#xD;Avg: {{invest.Tickers[security.Ticker]['30d'].vwap | numbere }}&#xD;Max: {{invest.Tickers[security.Ticker]['30d'].max | numbere }}&#xD;Vol: {{invest.Tickers[security.Ticker]['30d'].vol | numbere }} ({{invest.Tickers[security.Ticker]['30d'].vol/30 | numbere }})&#xD;BTC: {{invest.Tickers[security.Ticker]['30d'].btc | numbere }} ({{invest.Tickers[security.Ticker]['30d'].btc/30 | numbere }})")
                            {{getTickerChange(invest.Tickers[security.Ticker], '30d') | number:1}}%


            tbody.sum
                tr.noborder
                    td.right.bold(colspan='3') Total
                    td.right.bold {{ getSum(invest.Securities) | numbere}}
                    td.right.bold
                        | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(getSum(invest.Securities))| numbere}}
                    td(colspan='3')
