section
    h2 Market
    span.spinner(ng-show='market.loading > 0')
        i.icon-refresh.icon-spin
    span.spinner(ng-show='market.error', title='{{market.errorStatus}}')
        i.icon-bell-alt
    span.help(ng-show='settings.show',ng-mouseover='settings.helptopic.market=true',ng-mouseout='settings.helptopic.market=false') ?
    div(ng-show='market.bitcoindata')
        table
            tr
                th.right BTC
                th.right USD
                th.right(title='change to 24h average') 24h
                th.right(title='change to 7d average') 7d
                th.right(title='change to 30d average') 30d
            tr.noborder
                td.right {{1| currency:""}}
                td.right
                    a(target='_blank', href='http://bitcoincharts.com/markets/mtgoxUSD.html')
                        | {{market.bitcoindata.info.symbol_local.symbol}}{{market.bitcoindata.info.symbol_local.conversion_back| numbere}}
                td.right(ng-class="{negative: getMarketChange('24h') < 0, positive: getMarketChange('24h') > 0}", 24h='24h',rowspan="2")
                    {{getMarketChange('24h') | number:1}}%
                td.right(ng-class="{negative: getMarketChange('7d') < 0, positive: getMarketChange('7d') > 0}", 7d='7d',rowspan="2")
                    {{getMarketChange('7d') | number:1}}%
                td.right(ng-class="{negative: getMarketChange('30d') < 0, positive: getMarketChange('30d') > 0}", 30d='30d',rowspan="2")
                    {{getMarketChange('30d') | number:1}}%
            tr.noborder
                td.right {{market.bitcoindata.info.symbol_local.conversion / 100000000 | numbere}}
                td.right
                    a(target='_blank', href='http://bitcoincharts.com/markets/mtgoxUSD.html')
                        | {{market.bitcoindata.info.symbol_local.symbol}}{{1| currency:""}}
