section
    h2 Save
    span.spinner(ng-show='market.loading > 0')
        i.icon-refresh.icon-spin
    span.help(ng-show='settings.show',ng-mouseover='settings.helptopic.save=true',ng-mouseout='settings.helptopic.save=false') ?
    .settings(ng-show='settings.show')
        form(ng-submit='addAddress()')
            input(type='text', ng-model='save.BitCoinAddress', placeholder='Add address to watch')
            input(type='text', ng-model='save.BitCoinAddressDesc', placeholder='Description')
            input.btn-primary(type='submit', value='add')

    div(ng-show='settings.show')
        table(ng-show='save.blockadr')
            tr(ng-repeat='address in save.blockadr')
                td.action
                    a(href='', title='remove this address from the list', ng-click='removeAddress(address.address)') [remove]
                td
                    span
                        {{save.addresses[address.address].Desc}} ({{address.address}})



    div(ng-hide='settings.show')
        table.fixed(ng-show='save.blockadr')
            tr
                th(width="60%") Address
                th.right(width="90px") BTC
                th.right(width="90px") USD
            tr(ng-repeat='address in save.blockadr')
                td.address
                    a(target='_blank', title='view on blockchain.info ({{address.address}})', href='https://blockchain.info/address/{{address.address}}', ng-show='address.address')
                        | {{save.addresses[address.address].Desc}} ({{address.address}})
                td.right {{(address.final_balance/100000000)| numbere}}
                td.right
                    | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(address.final_balance/100000000)| numbere}}
            tr.noborder
                td.right.bold Total
                td.right.bold {{(save.wallet.final_balance/100000000)| numbere}}
                td.right.bold
                    | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(save.wallet.final_balance/100000000)| numbere}}