svg(xmlns='http://www.w3.org/2000/svg', version='1.1', width='76px', height='76px')
    g
        ellipse(fill='#C45000', transform='rotate(0, 38, 8)', cx='38', cy='8', rx='8', ry='8', style='opacity: 0;')
            animate(attributetype='CSS', attributename='opacity', from='1', to='0', dur='1.5s', repeatcount='indefinite', begin='0s')
        ellipse(fill='#C45000', transform='rotate(36, 55.6336, 13.7295)', cx='55.6336', cy='13.7295', rx='8', ry='8', style='opacity: 0;')
            animate(attributetype='CSS', attributename='opacity', from='1', to='0', dur='1.5s', repeatcount='indefinite', begin='0.15s')
        ellipse(fill='#C45000', transform='rotate(72, 66.5317, 28.7295)', cx='66.5317', cy='28.7295', rx='8', ry='8', style='opacity: 0;')
            animate(attributetype='CSS', attributename='opacity', from='1', to='0', dur='1.5s', repeatcount='indefinite', begin='0.3s')
        ellipse(fill='#C45000', transform='rotate(108, 66.5317, 47.2705)', cx='66.5317', cy='47.2705', rx='8', ry='8', style='opacity: 0;')
            animate(attributetype='CSS', attributename='opacity', from='1', to='0', dur='1.5s', repeatcount='indefinite', begin='0.45s')
        ellipse(fill='#C45000', transform='rotate(144, 55.6336, 62.2705)', cx='55.6336', cy='62.2705', rx='8', ry='8', style='opacity: 0;')
            animate(attributetype='CSS', attributename='opacity', from='1', to='0', dur='1.5s', repeatcount='indefinite', begin='0.6s')
        ellipse(fill='#C45000', transform='rotate(180, 38, 68)', cx='38', cy='68', rx='8', ry='8', style='opacity: 0;')
            animate(attributetype='CSS', attributename='opacity', from='1', to='0', dur='1.5s', repeatcount='indefinite', begin='0.75s')
        ellipse(fill='#C45000', transform='rotate(216, 20.3664, 62.2705)', cx='20.3664', cy='62.2705', rx='8', ry='8', style='opacity: 0;')
            animate(attributetype='CSS', attributename='opacity', from='1', to='0', dur='1.5s', repeatcount='indefinite', begin='0.9s')
        ellipse(fill='#C45000', transform='rotate(252, 9.4683, 47.2705)', cx='9.4683', cy='47.2705', rx='8', ry='8', style='opacity: 0;')
            animate(attributetype='CSS', attributename='opacity', from='1', to='0', dur='1.5s', repeatcount='indefinite', begin='1.05s')
        ellipse(fill='#C45000', transform='rotate(288, 9.4683, 28.7295)', cx='9.4683', cy='28.7295', rx='8', ry='8', style='opacity: 0;')
            animate(attributetype='CSS', attributename='opacity', from='1', to='0', dur='1.5s', repeatcount='indefinite', begin='1.2s')
        ellipse(fill='#C45000', transform='rotate(324, 20.3664, 13.7295)', cx='20.3664', cy='13.7295', rx='8', ry='8', style='opacity: 0;')
            animate(attributetype='CSS', attributename='opacity', from='1', to='0', dur='1.5s', repeatcount='indefinite', begin='1.35s')
