!!! 5
html(ng-app)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title BTC-Folio
        meta(name='description', content='Btc-Folio')
        meta(name='viewport', content='width=device-width')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        link(rel='apple-touch-icon', href='img/apple-touch-icon-iphone.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/apple-touch-icon-ipad.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/apple-touch-icon-iphone4.png')
        link(rel='apple-touch-icon', sizes='144x144', href='img/apple-touch-icon-ipad3.png')
        link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:300,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Donegal+One', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='css/normalize.min.css')
        link(rel='stylesheet', href='css/main.css')


    body(ng-controller='BTC')
        //if lt IE 10
              p.chromeframe
                | You are using an&nbsp;
                strong outdated
                | &nbsp;browser. Please&nbsp;
                a(href='http://browsehappy.com/') upgrade your browser
                | &nbsp;or&nbsp;
                a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
                | &nbsp;to improve your experience.



        .nav
            nav
                ul
                    li
                        a(href='', ng-click='toggleSettings()') {{settings.text}}
                    li
                        a(href='', ng-click='refresh()') refresh
        .header-container
            header.wrapper.clearfix
                include includes/logo


        .main-container
            .main.wrapper.clearfix
                article

                    include includes/market.jade
                    include includes/spend.jade
                    include includes/invest.jade
                    include includes/save.jade

                    section.settings(ng-show='settings.show')
                        h2 Export/Import Settings
                        .settings(ng-show='settings.show')
                            form(ng-submit='importSettings()')
                                textarea(rows='10', style='width: 100%; font-size: 0.8em;', ng-model='jsonimport') {{getSettings()}}
                                br
                                input.btn-primary(type='submit', value='Import Settings')
                aside
                    h2 Summary
                    div
                        table
                            tr
                                th BTC
                                th.right USD
                            tr
                                td.right {{getTotal()| currency:""}} =
                                td.right
                                    | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(getTotal())| currency: ""}}

        .footer-container
            footer.wrapper
                p donate: 1338aqevnKRj8KF5T4gRv4x3LeAfPGZ3fL






        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
        script(src='/js/main.js')