!!! 5
html(ng-app)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title BTC-Folio
        meta(name='description', content='Btc-Folio')
        meta(name='viewport', content='width=device-width')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        link(rel='apple-touch-icon', href='img/apple-touch-icon-iphone.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/apple-touch-icon-ipad.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/apple-touch-icon-iphone4.png')
        link(rel='apple-touch-icon', sizes='144x144', href='img/apple-touch-icon-ipad3.png')
        link(href='http://fonts.googleapis.com/css?family=Merriweather+Sans:300,700', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Donegal+One', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='css/normalize.min.css')
        link(rel='stylesheet', href='css/main.css')


    body(ng-controller='BTC')
        //if lt IE 10
              p.chromeframe
                | You are using an&nbsp;
                strong outdated
                | &nbsp;browser. Please&nbsp;
                a(href='http://browsehappy.com/') upgrade your browser
                | &nbsp;or&nbsp;
                a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
                | &nbsp;to improve your experience.



        .nav
            nav
                ul
                    li
                        a(href='', ng-click='toggleSettings()') {{settings.text}}
                    li
                        a(href='', ng-click='refresh()') refresh
        .header-container
            header.wrapper.clearfix
                include includes/logo


        .main-container
            .main.wrapper.clearfix
                article
                    section
                        h2 Market
                        div(ng-show='market.bitcoindata')
                            table
                                tr
                                    th BTC
                                    th.right(title='latest bid') USD
                                    th.right(title='quantity hold') 24h
                                    th.right(title='total btc') 7d
                                    th.right(title='total usd') 30d
                                tr
                                    td 1 =
                                    td.right
                                        a(target='_blank', href='http://bitcoincharts.com/markets/mtgoxUSD.html')
                                            | {{market.bitcoindata.info.symbol_local.symbol}}{{market.bitcoindata.info.symbol_local.conversion_back|
                                            | currency:""}}
                                    td.right(ng-class='ng-class', 24h='24h')
                                    td.right(ng-class='ng-class', 7d='7d')
                                    td.right(ng-class='ng-class', 30d='30d')
                    section
                        h2 Spend
                        .settings(ng-show='settings.show')
                            form(ng-submit='addSpendValue()')
                                input(type='text', ng-model='spend.ValueAdd', placeholder='Add btc (+/-)')
                                input.btn-primary(type='submit', value='add')
                        div
                            div(ng-show='spend.value')
                                | {{spend.value| currency:"BTC "}} =
                                | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(spend.value)| currency:""}}
                    section
                        h2 Invest
                        .settings(ng-show='settings.show')
                            form(ng-submit='addBtcTcApiKey()')
                                input(type='text', ng-model='invest.BtcTcApiKey', placeholder='Add btct.co API key')
                                input.btn-primary(type='submit', value='save')
                        div
                            table(ng-show='invest.BtcTcApiKey')
                                tr
                                    th Ticker
                                    th.right(title='latest bid') Bid
                                    th.right(title='quantity hold') Qty
                                    th.right(title='total btc') BTC
                                    th.right(title='total usd') USD
                                    th.right(title='total usd') 24h
                                    th.right(title='total usd') 7d
                                    th.right(title='total usd') 30d
                                tr(ng-repeat='security in invest.btctc.securities', ng-show='security.market.bid')
                                    td
                                        a(target='_blank', title='view on btct.co', href='https://btct.co/security/{{security.market.ticker}}', ng-show='security.market.ticker') {{security.market.ticker}}
                                    td.right {{security.market.bid| currency:""}}
                                    td.right {{security.quantity}}
                                    td.right {{security.total_value| currency:""}}
                                    td.right
                                        | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(security.total_value)| currency:""}}
                                    td.right(ng-class='ng-class', 24h_avg='24h_avg')
                                    td.right(ng-class='ng-class', 7d_avg='7d_avg')
                                    td.right(ng-class='ng-class', 30d_avg='30d_avg')
                                tr
                                    td.(colspan='3') Balance
                                    td.right {{invest.btctc.balance.BTC| currency:""}}
                                    td.right
                                        | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(invest.btctc.balance.BTC)| currency:""}}
                                    td(colspan='3')
                                tr
                                    td.right.bold(colspan='3') Total
                                    td.right.bold {{invest.totalbtc| currency: ""}}
                                    td.right.bold
                                        | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(invest.totalbtc)| currency: ""}}
                                    td(colspan='3')
                    section
                        h2 Save
                        .settings(ng-show='settings.show')
                            form(ng-submit='addAddress()')
                                input(type='text', ng-model='save.BitCoinAddress', placeholder='Add address to watch')
                                input.btn-primary(type='submit', value='add')
                        div
                            table(ng-show='save.blockadr')
                                tr
                                    th Address
                                    th.right BTC
                                    th.right USD
                                    th
                                tr(ng-repeat='address in save.blockadr')
                                    td
                                        span(style='width: 100px; overflow: hidden; display: inline-block;')
                                            a(target='_blank', title='view on blockchain.info', href='https://blockchain.info/address/{{address.address}}', ng-show='address.address')
                                                | {{address.address}}
                                        | …
                                    td.right {{(address.final_balance/100000000)| currency:""}}
                                    td.right
                                        | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(address.final_balance/100000000)| currency:""}}
                                    td.right.action
                                        a(href='', title='remove this address from the list', ng-click='removeAddress(address.address)') [remove]
                                tr
                                    td.right.bold Total
                                    td.right.bold {{(save.wallet.final_balance/100000000)| currency:""}}
                                    td.right.bold
                                        | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(save.wallet.final_balance/100000000)| currency:""}}
                                    td
                    section.settings(ng-show='settings.show')
                        h2 Export/Import Settings
                        .settings(ng-show='settings.show')
                            form(ng-submit='importSettings()')
                                textarea(rows='10', style='width: 100%; font-size: 0.8em;', ng-model='jsonimport') {{getSettings()}}
                                br
                                input.btn-primary(type='submit', value='Import Settings')
                aside
                    h2 Summary
                    div
                        table
                            tr
                                th BTC
                                th.right USD
                            tr
                                td.right {{getTotal()| currency:""}} =
                                td.right
                                    | {{market.bitcoindata.info.symbol_local.symbol}}{{getUsd(getTotal())| currency: ""}}

        .footer-container
            footer.wrapper
                p donate: 1338aqevnKRj8KF5T4gRv4x3LeAfPGZ3fL






        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js')
        script(src='/js/main.js')